.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  padding: 20px;

  background: #FFFFFF;
  border-radius: 10px;

  // top: 0%;
  // animation-name: first;
  // animation-duration: 1s;



  .top {
    display: flex;
    justify-content: space-between;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    color: #000000;

    .cross {
      cursor: pointer;
      color: black;
    }
  }

  .desc {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #000000;
  }

  .id-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #000000;
    margin-top: 5px;
  }

  .id-names {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;

    .id-name {
      font-family: Inter;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #555555;
      // margin-top: 10px;
      padding: 5px;
      width: 100%;
    }
  }

  table {
    width: 100%;
    border: none;
    margin-top: 5px;

    thead {
      tr {
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color: #000000;

        th {
          text-align: left;
        }
      }
    }

    tbody {
      margin-top: 10px;

      tr {

        td {
          font-family: Inter;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #555555;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .centered {
    width: 90vw;
  }
}