.detail-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 70vh;
  padding: 20px;

  // background: #FFFFFF;
  background: #F9C670;
  border-radius: 10px;
  color: #5F4314;

  .top {
    display: flex;
    justify-content: space-between;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    color: #000000;
    font-weight: 600;
    color: #5F4314;

    .cross {
      cursor: pointer;
    }
  }

  .desc {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    text-align: left;
  }

}

@media (max-width: 420px) {
  .detail-centered {
    width: 90vw;
  }
}